#services:
#    main.example:
#        class: MainBundle\Example
#        arguments: [@service_id, "plain_value", %parameter%]

services:
    services.skills:
        class: MainBundle\Repository\SkillsRepository
        arguments: [ @doctrine.orm.entity_manager, @service_container ]
    
    services.menu:
        class: MainBundle\Repository\MenuRepository
        arguments: [ @doctrine.orm.entity_manager, @service_container ]   
    
    services.company:
        class: MainBundle\Repository\CompanyRepository
        arguments: [ @doctrine.orm.entity_manager, @service_container ]
    
    services.home_skills:
        class: MainBundle\Repository\HomeSkillsRepository
        arguments: [ @doctrine.orm.entity_manager, @service_container ]
    
    services.education:
        class: MainBundle\Repository\EducationRepository
        arguments: [ @doctrine.orm.entity_manager, @service_container ]
    
    services.responsibility:
        class: MainBundle\Repository\ResponsibilityRepository
        arguments: [ @doctrine.orm.entity_manager, @service_container ]

    services.contact:
        class: MainBundle\Repository\ContactRepository
        arguments: [ @doctrine.orm.entity_manager, @service_container ]
    
    #Side Menu (GLOBAL VARIABLE    
    menu.controller:
        class: MainBundle\Controller\MenuController
        arguments: 
            container: '@service_container'
        
            
#    app.repo:
#        class:  MainBundle\Repository\PatientRepository
#    
#    patient:
#        class: MainBundle\Entity\Patient
#    main.co:
#        class: MainBundle\Controller\MainController
#        arguments: [ @doctrine.orm.entity_manager, @service_container ]
