{% extends 'Main/main.html.twig' %}
{% block page %}
<div class="content-wrapper content_pages" id="contact" style="background-color: #222d32; border: 1px solid #37464f;;">
    {% block breadcrumbs %}
        {% include 'Main/breadcrumbs.html.twig' with {'page': 'Contacts', 'color': 'purple'} %}
    {% endblock %}
    
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->        
        <div class="row col-lg-6t">
            {% if contact is defined %}                
                <ul id="contacts">
                {% for data in contact %}
                    <li><i class="{{ data.className }}"></i>&nbsp;&nbsp; : &nbsp;&nbsp;{{ data.contactDetails }}</li>
                {% endfor %}
                </ul>                
            {% endif %}                                    
        </div>
    </section>    
</div>
<style>
    .row { margin: 0 0 0 -2.2em; }
    #contacts li { color: darkgray; list-style: none; line-height: 3em; letter-spacing: 1px; }
</style>
{% endblock %}