{% extends 'Main/main.html.twig' %}
{% block page %}
<div class="content-wrapper content_pages" style="background-color: #222d32; border: 1px solid #444;">
    {% block breadcrumbs %}
        {% include 'Main/breadcrumbs.html.twig' with {'page': 'Contacts'} %}
    {% endblock %}
    
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->        
        <div>            
            {% if contacts is defined %}
                <div class="row" style="color: white;" style="margin: 0 0 0 0.3em !important;">
                {% for language in skills %}
                
                    <div class="block">
                        {{ language.name }}
                    </div>                
                    {% if loop.index % 9 == 0 %}
                        <br />                        
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}                                    
        </div>
    </section>    
</div>
{% endblock %}