{% extends 'Main/main.html.twig' %}
{% block page %}
<div class="content-wrapper" style="background-color: #222d32; border: 1px solid #444">
    {% block breadcrumbs %}
        {% include 'Main/breadcrumbs.html.twig' with {'page': 'Home'} %}
    {% endblock %}
    
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->        
        <strong style="color: #4b646f; font-weight: normal; font-size: 15px; margin: 0 0 0 0.5em;"> 
            Some of the Technologies used: 
        </strong>
        
        <div class="form-group row" style="color: white;" style="margin: 0 0 0 0.3em !important;">
            {% for image in home_skills %}
                <div class="block">
                    <img src="{{ asset('img/') ~ image.filename }}" alt="Smiley face" height="50" width="80">
                    {% set title = image.filename|split(".") %}
                    <small>{{ title[0] }}</small>
                </div>
                {% if loop.index % 9 == 0 %}
                    <br />
                {% endif %}
            {% endfor %}
        </div>
        
    </section>    
</div>
<style>
    .row
    {
        width: 100%;           
    }
    
    .block
    {
        width: 85px;
        display: inline-block;          
        border: none;        
        margin: 3em 1em 3px 1em;
        padding: 2px 2px;
        text-align: center;
    }
</style>
{% endblock %}