{% extends 'Main/main.html.twig' %}
{% block page %}
<div class="content-wrapper" style="background-color: #222d32; border: 1px solid #37464f">
    {% block breadcrumbs %}
        {% include 'Main/breadcrumbs.html.twig' with {'page': 'Projects', 'color': '#AE4D4D'} %}
    {% endblock %}
    
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->        
        {% if projects is defined %}
            {% for data in projects %}
            <ul class="parent_ul">
                <li>{{ data.project }} </li>
            </ul>
            <ul class="child_ul">
                <li>{{ data.company }}</li>
                <li>{{ data.description }} </li>
                <li>{{ data.skillId }}</li>                
            </ul>
            {% endfor %}
        {% endif %}

    </section>    
</div>
        <style>
            .parent_ul, .child_ul { color: darkgray; }
            .parent_ul { list-style: none; margin: 0 0 0 -2.3em }
        </style>
{% endblock %}