{% extends 'Main/main.html.twig' %}
{% block page %}
<div class="content-wrapper" style="background-color: #222d32; border: 1px solid #444">
    {% block breadcrumbs %}
        {% include 'Main/breadcrumbs.html.twig' with {'page': 'Schools'} %}
    {% endblock %}
    
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->
        <h1>            
            <!--<small>Employment</small>-->
        </h1>

    </section>    
</div>
{% endblock %}