{% block breadcrumbs %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <label style="color: #777;">
            {% if page is defined %}
                {% if page == "Home" %}
                <strong style="font-weight: normal; margin: 0 0 0 0.3em;">{{ "Overview" }}</strong>
                {% else %}
                <strong style="font-weight: normal; margin: 0 0 0 0.3em;">{{ page }}</strong>
                {% endif %}                    
            {% endif %}
            </label>
            <!--<small>Short description of my Profile</small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">{{ page }}</li>
        </ol>
    </section>
{% endblock %}