{% block footer %}
<footer class="main-footer skin-blue" style="background-color: #222d32;">
    <!-- To the right -->
    <div class="pull-right hidden-xs" style="color: lightblue;">
        paulandrefrancisco@yahoo.com.au
    </div>
    <!-- Default to the left -->
    <div><strong style="color: lightblue;">Copyright &copy; 2018 <a href="#">&nbsp;&nbsp;&nbsp;Company</a> &nbsp;&nbsp;All rights reserved.</strong></div>
</footer>
{% endblock %}