{% block page %}
<div class="content-wrapper" style="background-color: #000;">
    {% block breadcrumbs %}
        {% include 'Main/breadcrumbs.html.twig' %}
    {% endblock %}
    
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->
        THIS IS A TEST

    </section>    
</div>
{% endblock %}